*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* .btn{
    background-color: indigo;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 10px;

} */
/* kk */
